In [ ]:
import pandas as pd
import numpy as np
import seaborn

병합되는 두 데이터프레임의 동일한 컬럼명이 여러개 존재한다면 모두 키가 되기 때문에 특정한 컬럼만 키로 사용하고자 한다면 `on` 인수로 지정해야함

In [ ]:
df1 = pd.DataFrame(
    {
        '이름':['춘향', '몽룡', '춘향'],
        '날짜':['20180101', '20180102', '20180102'],
        '데이터':['20000', '30000', '100000']
    }
)
df1

In [ ]:
df2 = pd.DataFrame(
    {
        '이름':['춘향', '몽룡'],
        '데이터': ['여', '남']
    }
)
df2

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
pd.merge(df1, df2, on='이름')

키가 되는 기준열의 이름이 서로 다르면 `left_on`, `right_on` 인수에 사용할 키 컬럼 이름을 지정함

In [ ]:
df1 = pd.DataFrame(
    {
        '이름':['춘향', '몽룡', '춘향'],
        '날짜':['20180101', '20180102', '20180102']
    }
)
df1

In [ ]:
df2 = pd.DataFrame(
    {
        '성명':['춘향', '몽룡', '길동'],
        '데이터': ['여', '남', '남']
    }
)
df2

In [ ]:
pd.merge(df1, df2, left_on='이름',right_on='성명')

In [ ]:
df1 = pd.DataFrame({
    '도시': ['서울', '서울', '서울', '부산', '부산'],
    '연도': [2000, 2005, 2010, 2000, 2005],
    '인구': [980, 970, 960, 360, 350]})
df1

In [ ]:
df2 = pd.DataFrame(
    np.arange(12).reshape((6, 2)),
    index=[['부산', '부산', '서울', '서울', '서울', '서울'],
           [2000, 2005, 2000, 2005, 2010, 2015]],
    columns=['데이터1', '데이터2'])
df2

In [ ]:
pd.merge(df1, df2, left_on=['도시', '연도'], right_index=True)

#### `join` 메서드
데이터프레임 인스턴스에 사용할 땐 `merge` 메서드 대신에 `join` 메서드를 사용

In [ ]:
df1.join(df2, on=['도시', '연도'])

### `concat` 메서드로 데이터 연결
기준 열 지정없이 단순히 데이터를 연결하고자 할 땐 `concat()` 메서드를 사용함  
기본적으로 위아래로 행을 연결하기 때문에 인덱스가 중복될 수 있음  
만약 좌우로 열을 연결하고 싶을 때는 `axis=1` 인수를 사용함

In [ ]:
s1 = pd.Series([0, 1], index=['A', 'B'])
s1

In [ ]:
s2 = pd.Series([2, 3, 4], index=['A', 'B', 'C'])
s2

In [ ]:
pd.concat([s1, s2])

In [ ]:
df1 = pd.DataFrame(
    np.arange(6).reshape(3, 2),
    index=['a', 'b', 'c'],
    columns=['데이터1', '데이터2']
)
df1

In [ ]:
df2 = pd.DataFrame(
    np.arange(4).reshape(2, 2),
    index=['b','d'],
    columns=['데이터1', '데이터2']
)
df2

In [ ]:
pd.concat([df1, df2], axis=1)

In [ ]:
# teacher ver
first_half = pd.DataFrame({
    '매출': [10000, 11000, 9000, 12000, 13000, 8000],
    '비용': [9000, 9500, 9000, 10000, 11000, 10000],
    '이익': [1000, 1500, 0, 2000, 2000, -2000]},
    index=[1, 2, 3, 4, 5, 6]
)
first_half

In [ ]:
second_half = pd.DataFrame({
    '매출': [9000, 10000, 12000, 9000, 10000, 11000],
    '비용': [10000, 12000, 10000, 9000, 9000, 9500],
    '이익': [-1000, -2000, 2000, 0, 1000, 1500]},
    index=[7, 8, 9, 10, 11, 12])
second_half

In [ ]:
annuual = pd.concat([first_half, second_half])
annuual

In [ ]:
annuual_sum = annuual.sum()
annuual_sum.name = '총실적'
annuual_sum

In [ ]:
annuual.loc['총실적', :] = annuual_sum
annuual

### 피봇 테이블
피봇 테이블 : 데이터에 이미 존재하는 기본 열을 행 인덱스와 열 인덱스로 사용하는 테이블  

pandas에서 피봇테이블을 만들기 위해서는 `pivot()` 메서드를 사용할 수 있음  
`pivot()` 메서드에는 `index` 인수로 행 인덱스로 사용할 열을 지정, `columns` 인수로 열 인덱스로 사용할 열을 지정, `values` 인수로 표현할 데이터를 지정

In [ ]:
df1 = pd.DataFrame(
    {
    '도시': ['서울', '서울', '서울', '부산', '부산', '부산', '인천', '인천'],
    '연도': [2000, 2005, 2010, 2000, 2005, 2010, 2005, 2010],
    '인구': [980, 970, 960, 360, 350, 350, 250, 260],
    '지역': ['수도권', '수도권', '수도권', '경상권', '경상권', '경상권', '수도권', '수도권']}
    )
df1

In [ ]:
df1.pivot(index='도시', columns='연도', values='인구')

행 인덱스나 열 인덱스를 리스트로 전달하면 다중 인덱스 피봇 테이블로 생성할 수 있음

In [ ]:
df1.pivot(index=['지역', '도시'], columns='연도', values='인구')

행 인덱스와 열 인덱스 조건에 만족하는 데이터가 2개 이상 존재한다면 피봇 테이블을 생성할 수 없음

In [ ]:
df1.pivot(index='연도', columns='지역', values='인구')

### 그룹분석
데이터가 그룹을 이룰 때 그룹의 특성을 보여주는 분석 방법  
그룹 분석은 피봇테이블과 다르게 키에 의해서 결정되는 데이터가 여러 개 있을 경우 미리 지정한 연산을 통해서 해당 그룹의 대표값을 계산함

#### `groupby` 메서드
`groupby()` 메서드는 그룹 별로 분류하여 그룹 객체를 생성하는 메서드  
그룹 객체는 그룹 연산 메서드를 포함하고 있음

#### 그룹 연산 메서드
- `size()`, `count()` : 그룹 데이터의 갯수
- `mean()`, `median()`, `min()`, `max()` : 그룹 데이터의 평균, 중앙값, 최소값, 최대값
- `sum()`, `prod()`, `std()`, `var()`, `quantile()` : 그룹 데이터의 합계, 곱, 표준편차, 분산, 사분위수
- `first()`, `last()` : 그룹 데이터의 처음 값, 마지막 값

- `agg()`, `aggregate()` : 그룹 연산 메서드를 직접 생성하여 사용하도록 하는 메서드,  
여러가지 그룹 연산을 동시에 하려할 때 해당 그룹 연산을 리스트로 전달하여 사용하도록 하는 메서드
- `descrive()` : 하나의 대표값이 아니라 여러 개의 값을 데이터프레임으로 구하는 메서드
- `apply()` : 하나의 대표값이 아니라 여러 개의 값을 데이터프레임으로 구하는데 원하는 그룹 연산이 없을 때 메서드를 직접 생성하여 사용하도록 하는 메서드
- `transform()` : 대표값을 생성하는 것이 아니라 데이터 자체를 변경하는 메서드

In [ ]:
df2 = pd.DataFrame(
    {
        'key1': ['A', 'A', 'B', 'B', 'A'],
        'key2': ['one', 'two', 'one', 'two', 'one'],
        'data1': [1, 2, 3, 4, 5],
        'data2': [10, 20, 30, 40, 50]
    }
)
df2

In [ ]:
dg = groups = df2.groupby(df2.key1)
dg

In [ ]:
dg.groups

In [ ]:
dg.sum()

In [ ]:
df2.data2.groupby(df2.key1).sum()

In [ ]:
df2.groupby(df2.key1)['data1', 'data2'].sum()

In [ ]:
df2.groupby(df2.key1).sum().data1

##### 파이썬으로 다음 연산을 수행한다.  
key1의 값을 기준으로 data1의 값을 분류하여 합계를 구한 결과를 시리즈가 아닌 데이터프레임으로 구한다.

In [ ]:
df2.groupby(df2.key1).sum()[['data1']]

두 개 이상의 열을 기준으로 그룹 분석을 하고자 하면 `groupby` 메서드에 리스트 형태로 키를 전달하면 됨

In [ ]:
df2.data1.groupby([df2.key1, df2.key2]).sum().unstack('key2')

In [ ]:
df1['인구'].groupby(df1['지역']).mean()

In [ ]:
iris = seaborn.load_dataset('iris')
iris.head()

In [ ]:
def peak_to_peak_ratio(group_row):
    return group_row.max() / group_row.min()

iris.groupby(iris.species).agg(peak_to_peak_ratio)

In [ ]:
iris.groupby(iris.species).describe()

In [ ]:
def top3_petal_length(group_row):
    return group_row.sort_values(by='petal_length', ascending=False)[:3]

iris.groupby(iris.species).apply(top3_petal_length)

In [ ]:
def q3cut(s):
    return pd.qcut(s, 3, labels=['소', '중', '대']).astype(str)

iris['petal_length_class'] = iris.groupby(iris.species).petal_length.transform(q3cut)
iris[['petal_length', 'petal_length_class']].head(10)

##### 파이썬으로 다음 연산을 수행한다.
붓꽃(iris) 데이터에서 붓꽃 종(species)별로 꽃잎길이(sepal_length), 꽃잎폭(sepal_width) 등의 평균을 구하라. 만약 붓꽃 종(species)이 표시되지 않았을 때 이 수치들을 이용하여 붓꽃 종을 찾아낼 수 있을지 생각하라.

In [ ]:
iris.groupby(iris.species).mean()

### `pivot_table` 메서드
`pivot_table` 메서드는 `groupby` 메서드 결과를 피봇 테이블로 결과를 보여주는 메서드  
`pivot_table(data, values, index, colums, aggfunc, fill_value, margins, margins_name)`  
- `data`: 그룹 분석할 데이터 프레임(데이터프레임의 메서드일 때는 불필요)
- `values`: 분석할 열
- `index`: 행 인덱스로 사용할 열
- `columns`: 열 인덱스로 사용할 열
- `aggfunc`: 분석 메서드
- `fill_value`: NaN을 대체할 값
- `margins`: 데이터 분석 결과를 오른쪽과 아래쪽에 표시할 지 여부
- `margins_name`: 마진 행열의 이름

In [ ]:
df1.pivot_table(values='인구', index='도시', columns='연도')

In [ ]:
df1.pivot_table(values='인구', index='도시', columns='연도', aggfunc='sum', margins=True, margins_name='합계')

In [ ]:
df1.pivot_table(values='인구', index=['지역', '도시'])

In [ ]:
tips = seaborn.load_dataset('tips')
tips.head()

In [ ]:
tips['tip_pct'] = tips.tip / tips.total_bill
tips.head()

In [ ]:
tips.describe()

In [ ]:
tips.groupby('sex').size()

In [ ]:
tips.groupby(["sex", "smoker"]).size()

In [ ]:
tips.pivot_table(values='tip_pct', index='sex', columns='smoker',
aggfunc='count', margins=True)

In [ ]:
tips.groupby('sex')[['tip_pct']].mean()

In [184]:
tips.groupby('smoker')[['tip_pct']].mean()

C:\Users\ITPS\AppData\Local\Temp\ipykernel_5876\235999744.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby('smoker')[['tip_pct']].mean()

         tip_pct
smoker
Yes     0.163196
No      0.159328

In [186]:
tips.pivot_table(values='tip_pct', index=['sex', 'smoker'])

C:\Users\ITPS\AppData\Local\Temp\ipykernel_5876\1380794587.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  tips.pivot_table(values='tip_pct', index=['sex', 'smoker'])

                tip_pct
sex    smoker
Male   Yes     0.152771
       No      0.160669
Female Yes     0.182150
       No      0.156921

In [189]:
tips.pivot_table(values='tip_pct', index='sex', columns='smoker')

C:\Users\ITPS\AppData\Local\Temp\ipykernel_5876\344395683.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  tips.pivot_table(values='tip_pct', index='sex', columns='smoker')

smoker       Yes        No
sex
Male    0.152771  0.160669
Female  0.182150  0.156921

In [192]:
tips.groupby('sex')[['tip_pct']].describe()

C:\Users\ITPS\AppData\Local\Temp\ipykernel_5876\1160505671.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby('sex')[['tip_pct']].describe()

       tip_pct                                                              \
         count      mean       std       min       25%       50%       75%
sex
Male     157.0  0.157651  0.064778  0.035638  0.121389  0.153492  0.186240
Female    87.0  0.166491  0.053632  0.056433  0.140416  0.155581  0.194266


             max
sex
Male    0.710345
Female  0.416667

In [193]:
tips.groupby(['sex', 'smoker'])[['tip_pct']].describe()

C:\Users\ITPS\AppData\Local\Temp\ipykernel_5876\3720509871.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby(['sex', 'smoker'])[['tip_pct']].describe()

              tip_pct                                                    \
                count      mean       std       min       25%       50%
sex    smoker
Male   Yes       60.0  0.152771  0.090588  0.035638  0.101845  0.141015
       No        97.0  0.160669  0.041849  0.071804  0.131810  0.157604
Female Yes       33.0  0.182150  0.071595  0.056433  0.152439  0.173913
       No        54.0  0.156921  0.036421  0.056797  0.139708  0.149691


                    75%       max
sex    smoker
Male   Yes     0.191697  0.710345
       No      0.186220  0.291990
Female Yes     0.198216  0.416667
       No      0.181630  0.252672

In [195]:
def peak_to_peak(group_row):
    return group_row.max() - group_row.min()


tips.groupby(['sex', 'smoker'])[['total_bill']].agg(['mean', peak_to_peak])

C:\Users\ITPS\AppData\Local\Temp\ipykernel_5876\1322836547.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby(['sex', 'smoker'])[['total_bill']].agg(['mean', peak_to_peak])

              total_bill
                    mean peak_to_peak
sex    smoker
Male   Yes     22.284500        43.56
       No      19.791237        40.82
Female Yes     17.977879        41.23
       No      18.105185        28.58

In [196]:
tips.groupby(['sex', 'smoker']).agg(
    {
        'tip_pct': 'mean',
        'total_bill': peak_to_peak
    }
)

C:\Users\ITPS\AppData\Local\Temp\ipykernel_5876\3024800847.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby(['sex', 'smoker']).agg(

                tip_pct  total_bill
sex    smoker
Male   Yes     0.152771       43.56
       No      0.160669       40.82
Female Yes     0.182150       41.23
       No      0.156921       28.58

In [197]:
tips.pivot_table(values=['tip_pct', 'size'], index=['sex', 'day'], columns='smoker')

C:\Users\ITPS\AppData\Local\Temp\ipykernel_5876\173925545.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  tips.pivot_table(values=['tip_pct', 'size'], index=['sex', 'day'], columns='smoker')

                 size             tip_pct
smoker            Yes        No       Yes        No
sex    day
Male   Thur  2.300000  2.500000  0.164417  0.165706
       Fri   2.125000  2.000000  0.144730  0.138005
       Sat   2.629630  2.656250  0.139067  0.162132
       Sun   2.600000  2.883721  0.173964  0.158291
Female Thur  2.428571  2.480000  0.163073  0.155971
       Fri   2.000000  2.500000  0.209129  0.165296
       Sat   2.200000  2.307692  0.163817  0.147993
       Sun   2.500000  3.071429  0.237075  0.165710

In [198]:
tips.pivot_table(values='size', index=['time', 'sex', 'smoker'], columns='day', aggfunc='sum', fill_value=0)

C:\Users\ITPS\AppData\Local\Temp\ipykernel_5876\3217728764.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  tips.pivot_table(values='size', index=['time', 'sex', 'smoker'], columns='day', aggfunc='sum', fill_value=0)

day                   Thur  Fri  Sat  Sun
time   sex    smoker
Lunch  Male   Yes       23    5    0    0
              No        50    0    0    0
       Female Yes       17    6    0    0
              No        60    3    0    0
Dinner Male   Yes        0   12   71   39
              No         0    4   85  124
       Female Yes        0    8   33   10
              No         2    2   30   43